{% extends 'base.html.twig' %}

{% block title %}Another!{% endblock %}
{% block stylesheets %}
    {# This part can be avoided by using the asset service that I created for twig #}
    {{ parent() }}
    {{ encore_entry_link_tags('another') }}
    {{ encore_entry_link_tags('standalone') }}
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello from another page {{ controller_name }}! ✅</h1>
</div>
{% endblock %}

{% block javascripts %}
    {# This part can be avoided by using the asset service that I created for twig #}
    {{ parent() }}
    {{ encore_entry_script_tags('another') }}
{% endblock %}